<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" >
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [ngModel]="usuario.nombre"
               minlength="5"
               required
               #nombre="ngModel">

               <div *ngIf="nombre.errors?.required"> Este campo es requerido</div>
               <div *ngIf="nombre.errors?.minlength">Este Campo require 5 caracteres</div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               required
               >

      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="email"
             [ngModel]="usuario.email"
             required
             pattern="">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">
          <select
          [(ngModel)]="usuario.pais"
          class="form-control" name="pais">
          <option>Seleccione</option>
          <option *ngFor="let pais of paises"
                  [value]="pais.codigo">{{ pais.pais }}</option>
        </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-md-8">
          <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input"
                    type="radio"
                    name="sexo"
                    value="Hombre"
                    [(ngModel)]="usuario.sexo"> Hombre
          </label>
        </div>
        <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input"
                  type="radio"
                  name="sexo"
                  value="Mujer"
                  [(ngModel)]="usuario.sexo"> Mujer
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary"

         >
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>
   {{ usuario | json }}
</pre>
