
<h1>Heroes</h1>
<hr>
<br>
<div class="row">
  <div class="col-md-12 text-right">
      <button [routerLink]="['/heroe','nuevo']"
              class="btn btn-outline-primary"
              type="button"
              name="button">
      Nuevo heroe
    </button>
  </div>
</div>
<br><br>
<div class="row">
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Casa</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>
