<div *ngIf="artista" class="main-container animated fadeIn fast">
  <div class="row">
    <div class="col-md-3 text-center">
      <img [src]="artista.images | sinfoto" class="img-thumbnail img-circle">
      <br>

    </div>

    <div class="col-md-9">
      <h3>{{ artista.name }} <small>Popularidad {{ artista.popularity }} </small></h3>
      <hr>
      <a [href]="artista.external_urls?.spotify" class="btn btn-outline-success">Ver Pagina</a>

      <a [routerLink]="['/buscar']" class="btn btn-outline-danger">Regresar</a>
  </div>

</div>
<div *ngIf="pistas">
    <h3> Top de {{ artista.name }}</h3>
    <hr>
    <div class="row container">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-inverse table-hover">
            <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Cancion</th>
                <th>Popularidad</th>
                <th>Preview</th>
            </tr>
            <tr *ngFor="let pista of pistas; let i = index">
                <td>{{ i + 1 }}</td>
                <td><img [src]="pista.album?.images | sinfoto" alT=""></td>
                <td>{{ pista.name }}</td>
                <td>{{ pista.popularity }}</td>
                <td>
              <iframe [src]=" pista.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
                </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
</div>
